<footer>

  <div class="row link-footer">
    <div class="col-lg-6 col-md-6">
      <p><i class="fa fa-linkedin-square"></i> Contact me on <a href="https://www.linkedin.com/in/aude-v-3431441b4/">Linkedin</a></p>
      <p><i class="fa fa-github"></i><a href="https://github.com/aude11"> Github</a></p>
      <p>© <span id="current-year"></span> Aude Vernet</p>
    </div>
    <div class="col-lg-6 col-md-6">
      <p>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </div>
  </div>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="foodpicker.js" charset="utf-8"></script>

</html>
