<div class="explain-section">
  <p>Don't know what to eat ? </p>
  <p>This website will choose your next meal for you.</p>
  <p>It has been designed to take account of the weather and time.</p>
  <p>For a more customer experience <a class="link" href="login.html">sign up</a> or <a class="link" href="login.html">log in</a>.</p>
</div>

</div>
</div>
</section>
