<!-- Title -->
<section id="home">
  <div class="container-fluid">
<div class="title-section">
  <div class="row">
    <div class="col-lg-9 col-md-9">
      <h1 class="main-title">Food picker, hasard &&nbsp;fun.</h1>
    </div>
    <div class="col-lg-3 col-md-3">
      <img class="title-image" src="images/serving-dish.png" alt="serving-dish-icon">
    </div>
  </div>
