<section id="drinks">

  <div class="container-fluid container-drinks">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <button class="button-drinks" id="button-drinks">Press Me</button>
      </div>
      <div class="col-lg-6 col-md-6">
        <h2 class="title-play">Feeling thristy ?</h2>
        <p id="today-drinks">Click on the buttom and have a drink !</p>
        <div class="signup-drink">
          <p>Fancy a customer drink picker ?</p>
          <button type="button" class="btn btn-outline-light">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

</section>
