<div class="explain-section-preferences">
  <h4 class="welcome">Hello <%= username %> !</h4>
  <p>The temparature today in <%= city %> is <%= temp %> &#176;C.</p>
  <p>The weather is currently <%= description %>.</p>
  <p>Do you fancy a drink or some food ?</p>

  <% let pattern = /sun/i; %>
  <% let isSunny = pattern.test(description); %>
  <%  if (isSunny == true){ %>
  <p>It's so hot today! Let's have a ice cream!</p>
  <% } %>
</div>

</div>
</div>
</section>
