<%- include('partials/header'); -%>
<!-- Nav Bar -->
<%- include('partials/nav-log'); -%>


<div class="container-fluid">

  <div class="preferences-form">
    <form action="/preferences" method="post" class="form-frame-preferences">
      <img class="logo-sign" src="images/serving-dish.png" alt="serving-dish-icon">
      <h2 class="">Food Picker</h2>
      <div class="preferences">
        <h3>Select your preferences</h3>
        <input type="text" id="userCity" name="city" class="form-control" placeholder="City where you live" required="required">
        <div class="input-preferences">
          <input type="checkbox" id="vegan" name="vegan" value="vegan">
          <label for="vegan"> I am vegan</label>
          <br>
          <input type="checkbox" id="veggie" name="veggie" value="veggie">
          <label for="veggie"> I am vegetarian</label>
          <br>
          <input type="checkbox" id="healthy" name="healthy" value="healthy">
          <label for="healthy"> I eat healthy</label>
          <br>
        </div>
        <button class="btn btn-preferences btn-outline-light" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>


<%- include('partials/footer'); -%>
