html,
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1;
  padding-bottom: 3%;
}

.link {
  color: #ffa291;
  background-color: rgba(255, 235, 153, 1);
  border-radius: 12px;
  padding: 2px 4px;
  text-decoration: none;
}

.link:hover {
  color: #ffa291;
  text-decoration: underline;
}

/* Login/Sign up Page */
.btn-sign {
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  border-radius: .8rem;
  margin-top: 50px
}

.btn-home {
  padding: 0.6rem 1.5rem;
  font-size: 1.8rem;
}

.sign-form {
  padding: 12% 12% 25%;
  text-align: center;
}

.preferences-form {
  padding: 6% 25% 10%;
  text-align: center;
}

.input-preferences {
  text-align: left;
  margin-top: 8%;
  margin-bottom: 8%;
  margin-left: 30%;
  color: white;
  font-size: 1.4em;
}

.form-frame {
  background-color: #ffa291;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15%;
  padding-bottom: 10%;
  border-radius: .8rem;
}

.form-frame-preferences {
  background-color: #ffa291;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10%;
  border-radius: .8rem;
}

.preferences {
  padding: 1% 20% 15%;
  text-align: center;
}

.btn-preferences {
  font-size: 1.8em;
  border-radius: .8rem;
}

.form {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 9%;
  padding-top: 2%;
}

.form-control {
  margin-top: 15px;
}

.container-fluid {
  padding: 0 2%;
  background-color: rgba(255, 211, 174, 1);
}

/* Nav Bar  */
.navbar-custom {
  background-color: rgba(255, 211, 174, 1);
}

.navbar-custom .navbar-toggler {
  padding: 5px 5px;
  color: rgba(255, 255, 255, 0.6);
}

.navbar-custom .navbar-toggler-icon {
  padding: 12px 12px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 2px solid;
  margin-right: 30px;
}

/* navigation bar */
.navbar {
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  /* rem and % responsive websaite // px fix not responsive */
}

.navbar-brand {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 8px 12px;
}

.navbar-brand:hover {
  color: #ffa291;
  background-color: rgba(255, 235, 153, 1);
  border-radius: 12px;
}

.nav-item {
  padding: 4px 16px;
}

.nav-link {
  color: #ffa291;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  border-radius: 12px;
  font-weight: bolder;
}

.nav-link:hover {
  background-color: rgba(255, 235, 153, 1);
  color: #ffa291;
  padding: 0 2px;
}

/* title  */
.title-section {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.container-fluid .title-section {
  padding: 5% 3% 12% 9%;
  margin-left: 0px;
}

.title-section p {
  color: #ffa291;
  font-family: 'Montserrat', sans-serif;
  font-size: .85em;
  font-weight: 500;
  line-height: 1;
  text-align: left;
}

.explain-section {
  padding-top: 1%;
}

.explain-section-preferences {
  padding-top: 5%;
}

.main-title {
  font-size: 7rem;
  line-height: 1.3;
  text-align: left;
}

/* Image title*/
.title-image {
  -webkit-filter: invert(100%);
  margin-top: 14%;
  width: 18%;
  height: 18% -ms-transform: rotate(-20deg);
  /* IE 9 */
  transform: rotate(-20deg);
  /* Standard syntax */
  position: absolute;
  right: 6%;
}

/* responsive website */
@media (max-width: 768px) {
  .title-image {
    margin-top: 0;
    margin-bottom: 5%;
    position: static;
    width: 40%;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}

.logo-sign {
  -webkit-filter: invert(100%);
  width: 25%;
  height: 25%;
  margin-bottom: 7%;
  -ms-transform: rotate(-20deg);
  /* IE 9 */
  transform: rotate(-20deg);
  /* Standard syntax */
}

/* meal */
#meal {
  /*padding-top: 4%; */
  background-color: #ffd3ae;
}

.container-meal {
  padding-top: : 8%;
  padding-bottom: 10%;
  padding-left: 3%;
}

.container-meal p {
  color: #ffa291;
  font-size: 1.3em;
}

.button-meal {
  background-color: #ffa291;
  border: none;
  color: white;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5em;
  cursor: pointer;
  border-radius: 40px;
  border: 4px solid rgba(255, 235, 153, 1);
  box-shadow: 11px 10px 8px rgba(255, 235, 153, 0.8);
  margin-bottom: 25px;
}

.button-meal:active {
  background-color: #ffa291;
  transform: translateY(4px);
  border: 2px solid rgba(255, 235, 153, 1);
  box-shadow: 6px 6px 7px rgba(255, 235, 153, 0.9);
}

.result {
  color: #ffa291;
  font-weight: 900;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
  /* Safari */
  text-decoration-thickness: .2em;
  text-underline-position: under;
  padding-top: 15px;
}

/* drinks */
#drinks {
  padding-top: 4%;
  background-color: #ffd3ae;
}

.container-drinks {
  padding-top: : 8%;
  padding-bottom: 10%;
  padding-left: 3%;
}

.container-drinks p {
  color: #ffa291;
  font-size: 1.3em;
}

.button-drinks {
  background-color: #ffa291;
  border: none;
  color: white;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5em;
  cursor: pointer;
  border-radius: 40px;
  border: 4px solid aqua;
  box-shadow: 10px 12px 10px #80f7e3;
  margin-bottom: 25px;
}

.button-drinks:active {
  background-color: #ffa291;
  transform: translateY(4px);
  border: 2px solid aqua;
  box-shadow: 8px 8px 10px #80f7e3;
}

.title-play {
  font-size: 2.5em;
}

.title-signup {
  font-size: 3em;
}

/* signup */
.container-signup {
  padding-top: : 20%;
  padding-bottom: 8%;
  padding-left: 3%;
}

.p-signup {
  color: #ffa291;
  font-size: 2em;
}

.btn {
  border-radius: .8rem;
}

.btn-lg {
  padding: 0.5rem 1.5rem;
  font-size: 2.5rem;
  margin-top: 15px;
}

.sign {
  padding-bottom: 2%;
}

/* footer */
footer {
  background-color: #ffa291;
  color: #ffd3ae;
  padding: 3% 5%;
}

footer p {
  font-size: 1.2em;
}

.link-footer a {
  color: #ffd3ae;
  padding: 2px 4px;
  text-decoration: none;
}

.link-footer a:hover {
  color: #ffd3ae;
  text-decoration: underline;
}

/* Login Preferences Page */
.welcome {
  color: #ffa291;
  font-size: 2.5em;
  text-align: left;

}
